---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { AboutPage } from "@/types";
import { Image } from "@astrojs/image/components";
import { getEntry } from "astro:content";

const { data, render } = await getEntry("about", "-index");
const { Content } = await render();
const { title, image, education, experience } = data as AboutPage;
---

<Base {...data}>
  <section class="section mt-16">
    <div class="container text-center">
      {
        image && (
          <div class="mb-8">
            <Image
              src={image}
              width={1298}
              height={616}
              alt={title}
              class="rounded-lg"
              format="webp"
            />
          </div>
        )
      }

      <h1
        class="h1 text-left lg:text-[55px] mt-12"
        set:html={markdownify(title)}
      />

      <div class="content text-left">
        <Content />
      </div>
    </div>
  </section>
</Base>
